#content {
    margin: 10px auto;
    max-width: 500px;
    border: 1px solid;
}

#content div,
span {
    background-color: rgb(31, 217, 231);
    padding: 15px;
}

h1 {
    text-align: center;
}

section {
    width: 500px;
}

#favList>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

#favList {
    padding: 0;
    border: 1px solid white;
}

#favList p {
    margin: 0;
}

#favList span {
    cursor: pointer;
}