body {
    background-color: rgb(12, 4, 43);
}

h1 {
    text-align: center;
    color: rgb(201, 255, 5);
}

#main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 10px;
    padding: 50px 0;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.6s;
    width: 500px;
    height: 400px;
    
}