@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dongle:wght@300&display=swap');
#content {
    margin: auto;
    background-color: #A9D6E5;
}

main {
    margin: 0;
    max-width: 980px;
}


/*Header*/

h1,
h2,
h3,
h4 {
    font-family: 'Bree Serif', serif;
    color: #012A4A;
}

p,
a,
.text {
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
}

header {
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: minmax(150px, auto);
    align-items: center;
}

header ul {
    list-style-type: none;
    display: block;
    padding: 0;
}

header ul a {
    display: block;
    text-decoration: none;
    color: #012A4A;
    line-height: 40px;
}

header ul a:hover {
    border-bottom: 4px solid #012A4A;
    color: #012A4A;
    padding: 0 5px 5px 3px;
}

header ul a:active {
    border-bottom: 4px solid #012A4A;
    color: #012A4A;
    padding: 0 5px 5px 3px;
}

header img {
    display: block;
    padding-top: 15px;
    margin-left: 120px;
    width: 180px;
}


/*Footer*/

footer p {
    margin-top: 60px;
    background-color: white;
    padding: 10px;
    text-align: center;
}


/*Home Page*/

h1,
h2 {
    text-align: center;
}

main p:nth-child(3) {
    text-align: center;
}

p {
    padding: 0 20px;
    color: #012A4A;
}


/*Target Audience Page*/

.persona {
    width: 100%;
    display: block;
    grid-template-columns: 1fr 10px 1fr;
    grid-gap: 10px;
}

.middle {
    background-color: #A9D6E5;
    height: 10px;
}

.persona h3,
.persona p,
.persona li {
    color: white;
}

.persona1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2C7DA0;
    padding: 0 20px 0 10px;
}

.persona2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
    background-color: #2C7DA0;
}

.persona1 :nth-child(1),
.persona2 :nth-child(1) {
    grid-column: 1/2;
}

.persona1 :nth-child(6),
.persona2 :nth-child(6) {
    grid-column: 2/3;
}

.persona1 :nth-child(2),
.persona2 :nth-child(2) {
    grid-row: 2;
    grid-column: 1/2;
}

.persona1 img,
.persona2 img {
    grid-row: 2;
    grid-column: 2/3;
    width: 100%;
}

.persona1 :nth-child(3),
.persona2 :nth-child(3) {
    grid-row: 3;
    grid-column: 1/2;
}

.demo {
    grid-row: 3;
    grid-column: 2/3;
}

.persona1 :nth-child(4),
.persona2 :nth-child(4) {
    grid-row: 4;
    grid-column: 1/2;
}

.persona1 p,
.persona2 p {
    grid-row: 4;
    grid-column: 2/3;
}

.persona1 :nth-child(5),
.persona2 :nth-child(5) {
    grid-row: 5;
    grid-column: 1/2;
}

.scene {
    grid-row: 5;
    grid-column: 2/3;
}


/*Color scheme page*/

.color {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #2C7DA0;
    grid-gap: 10px;
}

.color :nth-child(1) {
    grid-row: 1;
    grid-column: 1/2;
    background-color: #012A4A;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.color :nth-child(7) {
    grid-row: 1;
    grid-column: 2/3;
    background-color: #012A4A;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.color :nth-child(2) {
    grid-row: 2;
    grid-column: 1/2;
    color: white;
}

.color :nth-child(3) {
    grid-row: 3;
    grid-column: 1/2;
    color: white;
}

.color :nth-child(4) {
    grid-row: 4;
    grid-column: 1/2;
    color: white;
}

.color :nth-child(5) {
    grid-row: 5;
    grid-column: 1/2;
    color: white;
}

.color :nth-child(6) {
    grid-row: 6;
    grid-column: 1/2;
    color: white;
}

.color :nth-child(8) {
    grid-row: 2;
    grid-column: 2/3;
    background-color: #A9D6E5;
    color: black;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.color :nth-child(9) {
    grid-row: 3;
    grid-column: 2/3;
    background-color: #012A4A;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.color :nth-child(10) {
    grid-row: 4;
    grid-column: 2/3;
    background-color: #012A4A;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.color :nth-child(11) {
    grid-row: 5;
    grid-column: 2/3;
    background-color: #012A4A;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.color :nth-child(12) {
    grid-row: 6;
    grid-column: 2/3;
    background-color: #2C7DA0;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}


/*Typography*/

.typo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #2C7DA0;
    grid-gap: 10px;
}

.typo :nth-child(1) {
    grid-row: 1;
    grid-column: 1/2;
    background-color: #012A4A;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.typo :nth-child(5) {
    grid-row: 1;
    grid-column: 2/3;
    background-color: #012A4A;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18.720px 0;
}

.typo :nth-child(2) {
    grid-row: 2;
    grid-column: 1/2;
    color: white;
}

.typo :nth-child(3) {
    grid-row: 3;
    grid-column: 1/2;
    color: white;
}

.typo :nth-child(4) {
    grid-row: 4;
    grid-column: 1/2;
    color: white;
}

.typo :nth-child(6) {
    grid-row: 2;
    grid-column: 2/3;
    color: white;
}

.typo :nth-child(7) {
    grid-row: 3;
    grid-column: 2/3;
    color: white;
}

.typo :nth-child(8) {
    grid-row: 4;
    grid-column: 2/3;
    color: white;
}


/**/


/**/