@media only screen and (min-width: 1080px) {
    header {
        grid-template-columns: 40% auto 100px;
        padding: 10px 10px 10px 10px;
        text-align: left;
        font-size: 18px;
        position: static;
    }
    nav ul {
        list-style-type: none;
        display: flex;
    }
    nav button {
        display: none;
    }
    .primary {
        grid-column: 2/3;
        grid-row: 1;
        place-self: center start;
        width: 80%;
    }
    nav ul#menu {
        display: grid;
        grid-template-columns: repeat(5, minmax(50px, auto));
        padding: 0;
        padding-right: 100px;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
    }
    .socials {
        grid-column: 3/4;
        padding-right: 35px;
        grid-gap: 5px;
    }
    .socials img {
        width: 60px;
    }
    .logo-container img {
        width: 170px;
        padding-left: 10px;
    }
    header ul a {
        display: inline;
    }
    header ul a:hover {
        padding: 0;
    }
    .active {
        padding: 0;
    }
    .banner {
        margin-bottom: -7px;
    }
    footer {
        font-size: 30px;
    }
    .contact img {
        width: 70px;
        margin-left: 70px;
    }
    .contact {
        margin-left: 220px;
    }
    .address img {
        padding-top: 45px;
        display: block;
        width: 30%;
        margin: 0 auto;
    }
    .address p {
        margin-top: -25px;
        text-align: center;
        font-size: 30px;
    }
    .address h3 {
        margin-top: -75px;
        text-align: center;
    }
    .credit p {
        font-size: 30px;
    }
    .fm,
    .fb {
        display: none;
    }
    .fl {
        display: block;
    }
    .credit {
        width: 1080px;
    }
    /* 
      Main */
    #main {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        background-color: transparent;
        padding: 10px;
        max-width: 1400px;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1;
    }
    .event ul {
        max-height: 420px;
        overflow-x: hidden;
    }
    .list2,
    .list5,
    .list6,
    .list7,
    .list8,
    .list9,
    .list10,
    .list12,
    .list13 {
        display: list-item;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2;
        padding-top: 40px;
    }
    .join {
        grid-column: 1/2;
        grid-row: 3;
        height: 100%;
    }
    .join p {
        margin-left: 20px;
        color: #012a4a;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .join a {
        border: 1px solid;
        color: #2c7da0;
        background-color: aliceblue;
        padding: 10px;
        text-decoration: none;
        margin-left: 150px;
        margin-top: 40px;
    }
    .hero {
        grid-column: 2/4;
        grid-row: 1/2;
        padding-bottom: 30px;
        
    }
    .hero img {
        margin-bottom: -100px;
        height: 104.3%;
    }
    .new {
        grid-column: 2/4;
        grid-row: 2/4;
        padding-top: 50px;
    }
    .chamber {
        text-decoration: none;
        border: 1px solid;
        border-color: aliceblue;
        border-radius: 30px;
        font-size: 35px;
        color: #012a4a;
        background-color: aliceblue;
        padding: 10px;
        margin-left: 200px;
        margin-bottom: 20px;
    }
    .chamber:hover {
        background-color: #012a4a;
        color: aliceblue;
        border-color: #012a4a;
    }
    .spot {
        grid-column: 4;
        grid-row: 1/4;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        padding: 10px;
        width: 265px;
    }
    .spot div:nth-child(3) {
        display: block;
    }
    .spot div:nth-child(1) {
        margin-right: 0;
    }
    .spot div:nth-child(2) {
        margin-left: 0;
    }
    .join {
        display: block;
    }
    .spotlight1,
    .spotlight2,
    .spotlight3 {
        text-align: center;
        box-shadow: -2px -4px 23px 1px #012a4a;
        width: inherit;
    }
    .underline {
        display: flex;
        border-bottom: 3px solid #012a4a;
        margin: 0 25px;
    }
    .spotlight1 img,
    .spotlight2 img,
    .spotlight3 img {
        width: 45%;
    }
    .spotlight1 h4 {
        color: rgb(240, 240, 240);
        margin: 17px 0;
    }
    .spotlight1 h5 {
        font-family: "Dongle", sans-serif;
        color: #012a4a;
        font-size: 25px;
        margin: 15px 45px;
    }
    .spot-email {
        font-size: 25px;
    }
    .spot-number {
        font-size: 22px;
    }
    .spot img {
        width: 265px;
    }
    /* Discovery Page */
    #discovermain {
        margin: 0 auto;
        max-width: 1080px;
    }
    .top {
        padding: 30px 90px 10px 90px;
    }
    .top h2,
    .top p {
        font-size: 1.7rem;
    }
    #gallery {
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        max-width: 1080px;
        margin-bottom: 30px;
        grid-gap: 1px;
    }
    #gallery div.blue {
        padding: 65px 30px 0 30px;
    }
    #gallery div.light-blue {
        padding: 65px 30px 0 30px;
    }
    #gallery p {
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
    #gallery :nth-child(3) {
        grid-column: 2/3;
    }
    #gallery :nth-child(4) {
        grid-column: 1/2;
        grid-row: 2;
    }
    #gallery :nth-child(7) {
        grid-column: 2/3;
    }
    #gallery :nth-child(8) {
        grid-column: 1/2;
        grid-row: 4;
    }
    #gallery :nth-child(11) {
        grid-column: 2/3;
    }
    #gallery :nth-child(12) {
        grid-column: 1/2;
        grid-row: 6;
    }
    #gallery :nth-child(15) {
        grid-column: 2/3;
    }
    #gallery :nth-child(16) {
        grid-column: 1/2;
        grid-row: 8;
    }
    /* ----------------Join Ibadan Special Club -------------*/
    #membership {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 220px;
    }
    .thanks {
        margin: 40px auto 120px auto;
    }
    /* -------------------------------------Ibadan Business Directory Page-----------------------------------------------*/

  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 50px 50px;
  }

  .card address {
    font-size: 1.4rem;
  }

  .card p {
    margin-bottom: 1px;
  }

  .list tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

   /* ------------------------------ContactPage------------------------- */
   .address-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    width: 600px;
  }

   .contact h3 {
    font-size: 28px;
  }
  .contact h5 {
    font-size: 18px;
  }
  .contact p {
    margin-top: 32px;
    font-size: 25px;
  }
  .contact-address {
    width: 50%;
  }
  .contact-address img {
    width: 100%;
  }

  .contact-card {
    border-radius: 15px;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-form {
    width: 70%;
  }

  .envelop {
    font-size: 300px;
    height: 90%;
  }

}