        @media only screen and (min-width: 545px) {
            #content {
                margin: 0;
            }
            header {
                grid-template-columns: 55% auto 120px;
            }
            nav.open ul {
                top: 125px;
            }
            .socials img {
                width: 60px;
            }
            .logo-container img {
                width: 170px;
                padding-left: 10px;
            }
            .logo-container h3 {
                font-size: 23px;
                margin-top: 73px;
            }
            footer {
                font-size: 38px;
            }
            .contact img {
                width: 100px;
                margin-left: 12px;
            }
            .address img {
                padding-top: 45px;
                display: block;
                width: 65%;
                margin: 0 auto;
            }
            .address p {
                margin-top: -35px;
                text-align: center;
                font-size: 35px;
            }
            .address h3 {
                margin-top: -75px;
                text-align: center;
            }
            .credit p {
                font-size: 35px;
            }
            /* 
      MAin */
            #main {
                grid-template-columns: repeat(3, 1fr);
            }
            .hero {
                grid-column: 1/4;
                grid-row: 1;
                padding-bottom: 67px;
            }
            .hero img {
                margin-bottom: -100px;
            }
            .chamber {
                text-decoration: none;
                border: 1px solid;
                border-color: aliceblue;
                border-radius: 20px;
                font-size: 35px;
                color: #2c7da0;
                background-color: aliceblue;
                padding: 10px;
                margin-left: 200px;
                margin-bottom: 20px;
            }
            .chamber:hover {
                background-color: #012a4a;
                color: aliceblue;
                border-color: #012a4a;
            }
            .new {
                grid-column: 1/4;
                grid-row: 2;
            }
            .spot {
                grid-column: 1/4;
                grid-row: 3;
                grid-template-columns: 1fr 1fr;
            }
            .spot div:nth-child(3) {
                display: none;
            }
            .spot div:nth-child(1) {
                margin-right: 3px;
            }
            .spot div:nth-child(2) {
                margin-left: 3px;
            }
            .join {
                display: block;
                grid-column: 1/4;
                grid-row: 4;
                background-color: #2c7da0;
            }
            .join p {
                margin-left: 20px;
                color: #012a4a;
                margin-bottom: 7px;
            }
            .join a {
                border: 1px solid;
                color: #2c7da0;
                background-color: aliceblue;
                padding: 3px;
                text-decoration: none;
                margin-left: 350px;
            }
            .event {
                grid-column: 1/3;
                grid-row: 5;
            }
            .list2,
            .list5,
            .list6,
            .list7,
            .list8,
            .list9,
            .list10,
            .list12,
            .list13 {
                display: none;
            }
            .weather {
                grid-column: 3/4;
                grid-row: 5;
                padding-top: 60px;
            }
            .spot img {
                width: 335px;
            }
            /*Discover Page*/
            #gallery {
                margin: 0 auto;
                max-width: 800px;
            }
            .top {
                padding: 30px 50px 10px 50px;
            }
            .top h2,
            .top p {
                font-size: 1.7rem;
            }
            #gallery p {
                font-size: 1.7rem;
            }
            #gallery div.blue {
                padding: 35px 50px 40px 50px;
            }
            #gallery div.light-blue {
                padding: 35px 50px 40px 50px;
            }
            #gallery img:hover {
                transform: scale(1.05);
            }
            .blue h4,
            .light-blue h4 {
                font-size: 1.4rem;
            }
            /* ----------------Join Ibadan Special Club -------------*/
            #form {
                margin: 0 auto 40px auto;
                max-width: 700px;
            }
            #form h3 {
                font-size: 25px;
            }
            .blockview input,
            textarea {
                width: 300px;
                padding: 5px 5px;
            }
            #membership {
                margin-top: 15px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-right: 30px;
            }
            .mtitle {
                font-weight: 600;
                font-size: 17px;
                grid-column: 1 / span 2;
            }
            .sbs {
                padding: 5px 0;
                font-size: 16px;
            }
            #submitBtn {
                padding: 5px 120px;
                width: inherit;
            }
            td {
                font-size: 15px;
            }
            /* -------------------------------------Ibadan Business Directory Page-----------------------------------------------*/

  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 25px 15px;
  }
  .card address {
    padding: 0 45px;
    margin-bottom: -15px;
  }

  .card p {
    font-size: 1.3rem;
    margin-bottom: -4px;
  }

  .list tr {
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%;
    justify-items: center;
  }
   /* ------------------------------ContactPage------------------------- */
   .contact-page h3 {
    margin-top: 35px;
    text-align: center;
    font-size: 24px;
  }
  .address-grid img{
    width: 280%;
  }
  .address-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    width: 110px;
  }
  .contact-page h5 {
    font-size: 18px;
  }
  .contact-page p {
    margin-top: 33px;
    font-size: 26px;
  }
  .contact-form {
    width: 70%;
    margin: 0 auto;
  }
  .envelop {
    font-size: 200px;
    height: 250px;
  }
        }