@media only screen and (min-width: 600px) {
    td {
        font-size: 1.1rem;
    }
    td {
        padding: 15px 10px;
    }
    thead th {
        padding: 20px 15px;
        font-size: 1.2rem;
        font-weight: 750;
    }
    tbody tr th {
        padding: 15px 10px;
    }
    tfoot td {
        font-size: 1rem;
        padding: 5px 60px;
    }
}