:root {
    --primary-color: #3498db;
    --font-family: 'Arial', sans-serif;
    --form-padding: 20px;
  }
  
  .form-area {
    display:block;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 50px;
  }
  
  .form-heading {
    color: var(--primary-color);
    font-size: 20px;
  }
  
  form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    max-width: 400px;
    align-items: center;
    margin-bottom: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="range"],
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: var(--font-family);
  }
  
  input[type="range"] {
    margin-bottom: 0;
  }
  
  button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2581c6;
  }
  
  #ratingValue {
    font-weight: bold;
  }
  
  @media (min-width: 768px) {
    .form-heading {
      font-size: 38px;
    }
  }