@media screen and (max-width: 768px){
  .content {
    flex-direction: column;
    align-items: center;
}

.content div {
    width: 100%;
    margin-bottom: 20px;
}

.temple-image {
    margin-bottom: 20px;
}

.temple-label {
  position: absolute;
	top: 50px;
	left: 50px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.5);
	padding: 0.7rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.temple-label p {
  margin: 0;
	font-weight: 600;
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
}

.map iframe {
    width: 100%;
    height: 300px;
}

}