@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Mono');
#content {
    margin: 10px auto;
    padding: 0 15px;
    max-width: 620px;
}

h1,
h2 {
    font-family: "Roboto Mono", monospace;
}

p,
li {
    font-family: "Roboto Slab", Serif;
    font-size: 14px;
}

header {
    padding: 10px 0;
    background-color: rgb(50, 15, 134);
    border-radius: 10px;
}

header img {
    box-shadow: 3px 4px 3px rgb(0, 0, 0), -3px -3px 5px rgb(0, 0, 0);
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

header h1 {
    font-size: 23px;
    color: rgb(255, 255, 255);
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    text-shadow: 3px 3px 5px rgb(0, 0, 0), -3px -3px 5px rgb(0, 0, 0);
}

body {
    width: 700px;
    margin: 0 auto;
}

h2 {
    font-size: 18px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 0px 0px 1px rgb(0, 0, 0);
}

hr {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

hr.top {
    margin-top: -10px;
}

a {
    color: blue;
    line-height: 1.5;
    text-decoration: none;
}

main p {
    margin-top: -5px;
    font-style: italic;
}

footer {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(50, 15, 134);
    border-radius: 7px;
    justify-items: center;
    color: rgb(255, 255, 255);
}

.updated {
    color: rgb(149, 253, 5);
    margin-top: -10px;
}